.profile-picture {
    border-radius: 8%;
}
  
.name {
margin-bottom: 2px;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.navigation li {
  margin: 15px;
  font-size: 20px;
}
.navigation ul {
  list-style-type: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
}
.navigation li a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left, .right {
    margin: 15px;
    max-width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    align-items: center;
    justify-content: center;
}

.social-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}  
.social-links li {
    display: inline-block;
    margin-right: 8px;
}
.social-links a {
    text-decoration: none;
    padding: 4px;
}
.social-links a:hover {
    text-decoration: underline;
}

.public-key {
    text-decoration: none;
}
.public-key:hover {
    text-decoration: underline;
}


p,ul,li {
    line-height: 1.2;
}
.right p + ul {
    margin-top: 0px;
}
.right h4 + p {
    margin-top: 0px;
}
.right ul + ul {
    margin-top: 0px;
}