.navigation {
   top: 0px;
   font-family: 'Open Sans', sans-serif;
}

.navigation li {
    float: left;
}

.navigation a {
    display: block;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.navigation ul {
    list-style-type: none;
}

.resnav {
    top: 0px;
    font-family: 'Open Sans', sans-serif;
 }
 
 .resnav li {
     float: left;
 }
 
 .resnav a {
     display: block;
     padding-top: 0px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 15px;
 }
 
 .resnav ul {
     list-style-type: none;
 }
 

.articles {
    padding-bottom: 5%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.resume {
    height: 96%;
}


.blog_section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
