/* Body styles */
body {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Navigation styles */
.navigation {
    overflow: hidden;
    top: 0px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    float: left;
    font-size: 18px;
}
.navigation a {
    display: block;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
}
.navigation li a:hover {
    text-decoration: underline;
}

/* CV styles */
.cv {
    height: 96%;
}

/* Typography */
p {
    line-height: 1.5;
    text-align: justify;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
